jupyter
scikit-learn
seaborn
matplotlib

scikit-image
opencv-python

#plotly
#cartopy
#contextily
geopandas
basemap
rioxarray

torch
torchvision
torchmetrics
torch-audiomentations
lightning
tensorboard
segmentation_models_pytorch

librosa

